/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap'); 
/* Globals  */
* {
	/* font-family: 'Montserrat', sans-serif; */
	font-family: 'Nunito', sans-serif; 
	font-size: 14px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	text-shadow: 0px 1px 1px rgba(3, 3, 3, 0.3) 
}
/* Variables  */
:root {
	--color_Blue: #12B0DC;
	--color_Blue1: #1bd0f0;
	--color_Dark1: #1e1e1e;
	--color_Dark2: #252527;
	--color_Light: #f3f3f3;
	--color_Light1: #dfdfdf;
	--color_Light2: #c4c4c4;
	--color_Light3: #555555;
	--border0: 1px solid #e5e7eb;
	--color_Light4: #2e2e2e;
	--color_green1: #02b17c;
	--color_yellow: #d1c40d;
	--color_red: #ad004b;
	--color_red1: #fd0470;
	--radius: 3px;
	--radius2: 8px;
	--box-shadow: rgba(0, 0, 0, .2) 0 3px 1px -2px,
		rgba(0, 0, 0, .14) 0 2px 2px 0,
		rgba(0, 0, 0, .12) 0 1px 7px 0;
	--box-shadow1: rgba(0, 0, 0, .2) 0 2px 4px -1px,
		rgba(0, 0, 0, .14) 0 4px 5px 0,
		rgba(0, 0, 0, .12) 0 1px 10px 0;
	--box-shadow2: 8px 10px 12px 3px rgba(0, 0, 0, 0.43);
	--box-shadow3: 0 1.81818px 2.5px 0 rgba(0, 0, 0, 0.3), 0 2.72727px 2px -4px rgba(0, 0, 0, .42), 0 0.90909px 7px 0 rgba(0, 0, 0, .26);
}
/*  */
.text-red1 {
	color: var(--color_red1);
}
.text-blue {
	color: var(--color_Blue);
}
.m-10 {
	margin: 10px;
}
.my-10 {
	margin: 10px 0;
}
.mb-10 {
	margin-bottom: 10px;
}
.py-10 {
	padding: 10px 0;
}
/*  */
input,
select {
	width: 100%;
	padding: 5px;
	border-radius: var(--radius);
	border: var(--border0);
}
select {
	padding: 4px;
}
input:focus, select:focus { 
	outline: none;
	border: 1px solid var(--color_Blue);
}
a {
	color: var(--color_Dark2);
}

.btn {
	border: none;
	color: #fff;
	cursor: pointer;
	overflow: visible;
	padding: 5px 10px;
	text-transform: uppercase;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
	background-color: var(--color_Blue);
	appearance: none;
	border-radius: var(--radius);
	will-change: transform, opacity;
	transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
	box-shadow: var(--box-shadow);
}

.btn:hover {
	box-shadow: var(--box-shadow1);
}

.btn:focus {
	box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px,
		rgba(0, 0, 0, .14) 0 4px 5px 0,
		rgba(0, 0, 0, .12) 0 1px 10px 0;
}

.btn:active {
	box-shadow: rgba(0, 0, 0, .2) 0 5px 5px -3px,
		rgba(0, 0, 0, .14) 0 8px 10px 1px,
		rgba(0, 0, 0, .12) 0 3px 14px 2px;
}


.btn-blue {
	background-color: var(--color_Blue);
}

.btn-blue:active {
	background-color: var(--color_Blue1);
}

.btn-form {
	padding: 0;
	border: none;
	outline: none;
	color: var(--color_Light3);
	display: flex;
	/* background-color: transparent; */

}

/*  */
/* =============== Sidebar =============== */
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 260px;
	background-color: var(--color_Dark1);
	transition: all .5s ease;
	z-index: 100;
}

.sidebar.close {
	width: 78px;
}

/* --------- Logo ------------ */
.logo-box {
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	color: var(--color_Blue);
	transition: all .5s ease;
	overflow: hidden;
}

.logo-box:hover {
	color: var(--color_Blue1);
	text-shadow: 0px 1px 8px rgba(52, 218, 240, 0.6)
}

.logo-box img {
	font-size: 30px;
	width: 50px;
	margin: 5px 15px;
	text-align: center;
	transition: all .5s ease;

}

.sidebar.close .logo-box img {
	transform: rotate(360deg);
}

.logo-name {
	font-size: 22px;
	font-weight: 600;

}

/* ---------- Sidebar List ---------- */
.sidebar-list {
	height: 100%;
	padding: 30px 0 150px 0;
	overflow: auto;
}

.sidebar-list::-webkit-scrollbar {
	display: none;
}

.sidebar-list li {
	transition: all .5s ease;
}

.sidebar-list li:hover {
	background-color: var(--color_Dark2);
}

.sidebar-list li .title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all .5s ease;
	cursor: pointer;
}

.sidebar-list li.active .title {
	background-color: var(--color_Blue);
}

.sidebar-list li.active .bxs-chevron-down {
	transition: all .5s ease;
	transform: rotate(180deg);
}

.sidebar-list li .title .link {
	display: flex;
	align-items: center;
}

.sidebar-list li .title i {
	height: 50px;
	min-width: 78px;
	text-align: center;
	line-height: 50px;
	color: var(--color_Light1);
	font-size: 20px;
}

.sidebar-list li .title .name {
	font-size: 18px;
	font-weight: 400;
	color: var(--color_Light1);
}

/* ---------------- Submenu ------------- */
.sidebar-list li .submenu {
	width: 0;
	height: 0;
	opacity: 0;
	transition: all .5s ease;
}

.sidebar-list li.dropdown.active .submenu {
	width: unset;
	height: unset;
	opacity: 1;
	display: flex;
	flex-direction: column;
	padding: 6px 6px 14px 80px;
	background-color: var(--color_Dark2);
}

.submenu .link {
	color: var(--color_Light2);
	font-size: 15px;
	padding: 5px 0;
	transition: all .5s ease;
}

.submenu .link:hover {
	color: #fff;
}

.submenu-title {
	display: none;
}

/* ---------------- Submenu Close ------------- */
.sidebar.close .title .name,
.sidebar.close .title .bxs-chevron-down {
	display: none;

}

.sidebar.close .sidebar-list {
	overflow: visible;
}

.sidebar.close .sidebar-list li {
	position: relative;
}

.sidebar.close .sidebar-list li .submenu {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 100%;
	top: -10px;
	margin-top: 0;
	padding: 10px 20px;
	border-radius: 0 6px 6px 0;
	height: max-content;
	width: max-content;
	opacity: 0;
	transition: all .5s ease;
	pointer-events: none;
}

.sidebar.close .sidebar-list li:hover .submenu {
	opacity: 1;
	top: 0;
	pointer-events: initial;
	background-color: var(--color_Dark2);
}

.sidebar.close .submenu-title {
	display: block;
	font-style: 18px;
	color: var(--color_Light1);
}

/* =============== Home Section =============== */
.home {
	position: relative;
	background-color: #FFFFFF;
	left: 260px;
	width: calc(100% - 260px);
	height: 100vh;
	transition: all .5s ease;
}

.sidebar.close~.home {
	left: 78px;
	width: calc(100% - 78px);
}

.home .header-sidebar {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	margin-bottom: 10px;
	cursor: pointer;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.home .toggle-sidebar {
	cursor: pointer;
}

.home .toggle-sidebar i {
	font-size: 35px;
	color: var(--color_Dark1);
}

.home .toggle-sidebar .text {
	font-size: 25px;
	color: var(--color_Dark1);
	font-weight: 600;
}

.home .user-info {
	width: 90px;
	display: flex;
	padding: 5px;
	align-items: center;
	border: 1px solid var(--color_Light1);
	border-radius: var(--radius2);
	justify-content: space-between;
}
.home .user-info:hover {
	border: 1px solid var(--color_Blue); 
}
.user-info-active {
	border: 1px solid var(--color_Blue) !important;
}

.home .user-info span {
	color: var(--color_Light3);
	margin: 0 5px 0 0;
}

.home .header-sidebar .user-info-menu {
	position: fixed;
	top: 60px;
	right: -200px;
	width: 150px;
	padding: 10px;
	z-index: 9999;
	background: #FFFFFF;
	color: var(--color_Dark2);
	box-shadow: var(--box-shadow);
	border-radius: var(--radius);
	/* visibility: hidden; */
	transition: all .5s ease;
}

.user-info-menu-active {
	visibility: visible;
	transition: all .5s ease;
	right: 10px !important;
}

.home .header-sidebar .user-info-menu ul li {
	display: flex;
	align-items: center;
}

.home .header-sidebar .user-info-menu ul li span {
	font-size: 15px;
	margin-left: 10px;
}

/* ========== Main =========== */

.home .container {
	height: calc(100vh - 90px);
	padding: 10px;
	display: flex;
	background: var(--color_Light);  
}

.home .container .tools-container {
	width: calc(30vw - 10px);
	height: calc(100vh - 90px);
	display: flex;
	flex-direction: column;  
}

.home .container .content {
	position: relative;
	width: 70vw;
	margin: 0 10px 0 0;
}

.home .container .top-tools-bar {
	display: flex;
	flex-wrap: wrap; 
}

.top-tools-bar-left,
.top-tools-bar-left .interface {
	display: flex;
	align-items: center;
}

.top-tools-bar-left .interface {
	margin-bottom: 10px;
	border: 1px solid var(--color_Light);

}

.top-tools-bar-left .interface:hover {
	border: 1px solid var(--color_Blue);
}


.top-tools-bar-content {
	position: relative;
	width: 100%;
	min-height: 115px;
	background: #ffffff;
	padding: 10px 10px 0;
	border: var(--border0);
	border-radius: var(--radius2); 
}

.top-tools-bar-left {
	flex-wrap: wrap;
}

.top-tools-bar-left .interface .interface-name {
	margin-left: 10px;
}

.add-tool {
	position: relative;
	width: calc(30vw - 10px);
	display: flex;
	flex-direction: column;
	padding: 10px;
	margin: 10px 0;
	border: var(--border0);
	background-color: #FFFFFF;
	border-radius: var(--radius2);
}

.home .container .tools-bar {
	display: flex;
	min-height: 80px;
	flex-wrap: wrap;
	padding: 5px 10px;
	margin-bottom: 10px;
	background: #FFFFFF;
	border-radius: var(--radius2);
	border: var(--border0);
}

.home .container .tools-bar input {
	margin-bottom: 10px;
}

.home .container .tools-bar .tools {
	display: flex;
	flex-direction: column;
	margin-right: 20px;
}

.home .container .tools-bar .tools>label {
	margin-bottom: 5px;
}

.home .container .tools-bar .search-tool, .tools-bar .filter-tool {
	width: auto;
	min-width: 200px;
}

.home .container .content .item-container {
	position: relative;
	height: calc(100vh - 200px);
	padding: 10px;
	background: #FFFFFF;
	border: var(--border0);
	border-radius: var(--radius2);
}

.home .container .content .items-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
	grid-gap: 20px;
	grid-auto-flow: dense;
}

.home .container .content .items-list .item {
	position: relative;
	display: flex;
	color: var(--color_Light3);
	border: var(--border0);
	background: var(--color_Light);
	border-radius: var(--radius2);  
	transition: all 0.2s ease;

}

.home .container .content .items-list .item .btn-remove {
	color: var(--color_red1);
	border-radius: 0 8px 0 0;
}

.home .container .content .items-list .item .btn-download {
	cursor: pointer;
}

.home .container .content .items-list .item .btn-download:hover {
	background-color: #02b17c !important;
	color: #FFFFFF;
}

.home .container .content .items-list .item:hover {
	border: 0.5px solid var(--color_Blue);
}

.home .container .content .items-list .item .item-title {
	width: calc(100% - 10px);
	display: flex;
	margin-right: 10px;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.home .container .content .items-list .item .item-title .item-name {
	margin: 5px 0;
	padding: 2px 5px; 
	text-align: center;
	overflow: hidden;
	width: 70%;
	text-overflow: ellipsis;
}

.home .container .content .items-list .item .item-title .material-icons {
	font-size: 50px;
	color: var(--color_Light3);
}

.home .container .content .items-list .item .btn-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	background: var(--color_Light1);
	justify-content: space-between;
	border-radius: 0 8px 8px 0;
}

.home .container .content .items-list .item .btn-container .material-icons {
	width: 15px;
	height: 15px;
	font-size: 15px;
	background-color: var(--color_Light1);
}

/* .home .container .content .items-list .item .item-title .item-connected{ 
    font-size: 50px;
    color: #3ee8ee;
    text-shadow: 0px 1px 5px rgba(50, 194, 219, 0.5) 
} */
.home .container .content .items-list .item .item-info .item-details {
	visibility: hidden;
	transition: all .5s ease;
	position: absolute;
	top: 97px;
	left: -100vw;
	z-index: 99;
	font-size: 12px;
	line-height: 2;
	width: 300px;
	height: auto;
	padding: 10px;
	background-color: #FFFFFF;
	border-radius: var(--radius);
	border: 1px solid var(--color_Blue);
}

.home .container .content .items-list .item-details ul li {
	display: flex;
	border-bottom: 1px solid var(--color_Light2);
}

.home .container .content .items-list .item-details .name-detail {
	margin-right: 10px;
	font-weight: bold;
}

.home .container .content .items-list .item-details .privatekey-value,
.publickey-value,
.allowedips-value {
	overflow: hidden;
	text-overflow: ellipsis;
}

/* btn info click */
.home .container .content .items-list .item .item-info {

	justify-content: flex-end;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	display: flex;

}

.home .container .content .items-list .item .item-info .btn-info {
	transform: rotate(180deg);
	background-color: var(--color_Light1);
	border-radius: 8px 0 0 0;
}

.home .container .content .items-list .item .item-info .btn-info:hover {
	color: #FFFFFF;
	background: var(--color_Blue);
}

.home .container .content .items-list .item .item-info-active .btn-info {
	color: #FFFFFF;
	background: var(--color_Blue);

}

.home .container .content .items-list .item .item-info-active .item-details {
	visibility: visible;
	left: 0px;
	transition: all .5s ease;
}

.home .container .content .items-list .item .item-info-active .item-details::before {
	content: "▲";
	position: absolute;
	left: 10px;
	top: -27px;
	font-size: 20px;
	color: var(--color_Blue);

}

.swal-button {
	padding: 7px 19px;
	border-radius: 2px;
	background-color: #4962B3;
	font-size: 12px;
	border: 1px solid #3e549a;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.toastify-warning {
	box-shadow: var(--box-shadow);
	color: var(--color_Dark1);
	background: var(--color_red1);
}

.toastify-success {
	box-shadow: var(--box-shadow);
	color: var(--color_Dark1);
	background: var(--color_green1);
}

/* Loading page */
.loading-page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0; 
	z-index: 9999;  
	display: none;
	align-items: center;
	background: #ffffff;
	border-radius: var(--radius2);
	justify-content: center;
} 
.loader {
	width: 30px; 
	-webkit-animation: spin 2s linear infinite;
	/* Safari */
	animation: spin 1.5s linear infinite;
}
.loading {
	display: flex;
}

/* ------------------------------------------------- */

.interface {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--color_Light);
	border-radius: var(--radius2);
	margin-right: 10px;
	padding: 0 10px;
}

/* ------------------------------------------------- */
/* =====================================================
   Some defaults across all toggle demos
   ===================================================== */
.toggle {
	display: block;
	text-align: center;
	user-select: none;
	transform: scale(0.4);
}

.toggle--checkbox {
	display: none;
}

.toggle--btn {
	display: block;
	margin: 0 auto;
	font-size: 1.4em;
	transition: all 350ms ease-in;
}

.toggle--btn:hover {
	cursor: pointer;
}

.toggle--btn,
.toggle--btn:before,
.toggle--btn:after,
.toggle--checkbox,
.toggle--checkbox:before,
.toggle--checkbox:after,
.toggle--feature,
.toggle--feature:before,
.toggle--feature:after {
	transition: all 250ms ease-in;
}

.toggle--btn:before,
.toggle--btn:after,
.toggle--checkbox:before,
.toggle--checkbox:after,
.toggle--feature:before,
.toggle--feature:after {
	content: "";
	display: block;
}

/* ======================================================
	 Push button toggle
====================================================== */
.toggle--push .toggle--btn {
	position: relative;
	width: 40px;
	height: 40px;
	background-color: #f9f8f6;
	border-radius: 50%;
	box-shadow: 0 5px 10px 0px #333, 0 15px 20px 0px #cccccc;
}

.toggle--push .toggle--btn,
.toggle--push .toggle--btn:before,
.toggle--push .toggle--btn:after {
	transition-duration: 150ms;
}

.toggle--push .toggle--btn:before {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 22.7272727273px;
	height: 22.7272727273px;
	border-radius: 50%;
	background-color: #ff9900;
	box-shadow: inset 0 0 0 5px #ccc, inset 0 0 0 14px #f9f8f6;
}

.toggle--push .toggle--btn:after {
	position: absolute;
	left: 50%;
	top: 35%;
	transform: translate(-50%, -50%);
	width: 4px;
	height: 12px;
	background-color: #ccc;
	box-shadow: 0 0 0 2.5px #f9f8f6;
}

.toggle--push .toggle--btn:hover:before {
	box-shadow: inset 0 0 0 5px #b3b3b3, inset 0 0 0 14px #f9f8f6;
}

.toggle--push .toggle--btn:hover:after {
	background-color: #b3b3b3;
}

.toggle--push--glow .toggle--btn {
	background-color: #dfdfdf;
	box-shadow: 0 5px 10px 0px #333, 0 0 0 3px #444444, 0 0 8px 2px transparent, 0 0 0 6px #919191;
}

.toggle--push--glow .toggle--btn:before {
	box-shadow: inset 0 0 0 5px #aaa, inset 0 0 0 14px #dfdfdf;
}

.toggle--push--glow .toggle--btn:after {
	background-color: #aaa;
	box-shadow: 0 0 0 2.5px #dfdfdf;
}

.toggle--push--glow .toggle--btn:hover:after {
	background-color: #777777;
}

/* Active */
.power-active .toggle--checkbox+.toggle--btn {
	box-shadow: 0 2px 5px 0px var(--color_Light1), 0 15px 20px 0px transparent;
}

.power-active .toggle--checkbox+.toggle--btn:before {
	box-shadow: inset 0 0 0 5px #ff9900, inset 0 0 0 14px #f9f8f6;
}

.power-active .toggle--checkbox+.toggle--btn:after {
	background-color: #ff9900;
}

.power-active .toggle--btn:hover:before {
	box-shadow: inset 0 0 0 5px var(--color_Light2), inset 0 0 0 14px #dfdfdf;
}

.power-active .toggle--checkbox+.toggle--btn {
	box-shadow: 0 0px 8px 0 var(--color_Blue1), 0 0 0 3px var(--color_Blue), 0 0 30px 0 var(--color_Blue), 0 0 0 6px var(--color_Blue);
}

.power-active .toggle--checkbox+.toggle--btn:before {
	box-shadow: inset 0 0 0 5px var(--color_Blue), inset 0 0 0 14px #dfdfdf;
}

.power-active .toggle--checkbox+.toggle--btn:after {
	background-color: var(--color_Blue);
}

/* OFF */
.power-off .toggle--checkbox+.toggle--btn {
	box-shadow: 0 2px 5px 0px var(--color_Light2), 0 15px 20px 0px transparent;
}

.power-off .toggle--checkbox+.toggle--btn:before {
	box-shadow: inset 0 0 0 5px #ff9900, inset 0 0 0 14px #f9f8f6;
}

.power-off .toggle--checkbox+.toggle--btn:after {
	background-color: #ff9900;
}

.power-off .toggle--btn:hover:before {
	box-shadow: inset 0 0 0 5px var(--color_Light3), inset 0 0 0 14px #dfdfdf;
}

.power-off .toggle--checkbox+.toggle--btn {
	box-shadow: 0 0px 8px 0 var(--color_red1), 0 0 0 5px var(--color_red), 0 0 30px 0 var(--color_red), 0 0 0 6px var(--color_red);
}

.power-off .toggle--checkbox+.toggle--btn:before {
	box-shadow: inset 0 0 0 5px var(--color_red), inset 0 0 0 14px #dfdfdf;
}

.power-off .toggle--checkbox+.toggle--btn:after {
	background-color: var(--color_red);
}

/* ======================================================
	 Push button toggle
====================================================== */
/*  */
/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* ============ Responsive / Breakpoints ========== */
@media (max-width: 1080px) {}

/* For Medium Devices */
@media (max-width: 774px) {}

@media (max-width: 560px) {}

/* For Small Devices */
@media (max-width: 360px) {}